# Example: CitiBike data

Adapted from Kelsey Jordahl
https://gist.github.com/kjordahl/5957573

In [1]:
import requests  
import json
from pyproj import Proj
from shapely.geometry import Point
import geopandas as gp
import pandas as pd

NYC borough boundaries downloaded from [Bytes of the Big Apple](http://www.nyc.gov/html/dcp/download/bytes/nybb_13a.zip)

In [2]:
boros = gp.GeoDataFrame.from_file('nybb_15b/nybb.shp')
boros.crs

{'proj': 'lcc',
 'lat_1': 40.66666666666666,
 'lat_2': 41.03333333333333,
 'lat_0': 40.16666666666666,
 'lon_0': -74,
 'x_0': 300000,
 'y_0': 0,
 'datum': 'NAD83',
 'units': 'us-ft',
 'no_defs': True}

Load real time bike station data from [CitiBike](http://citibikenyc.com) json API:

In [3]:
# get the bike data and convert it to a ditcionary
endpoint_url = 'http://citibikenyc.com/stations/json'
response = requests.get(endpoint_url)
data = json.loads(response.text)

In [4]:
# convert the relevant part to a geodataframe
df = gp.GeoDataFrame(data['stationBeanList'])
df

,altitude,availableBikes,availableDocks,city,id,landMark,lastCommunicationTime,latitude,location,longitude,postalCode,stAddress1,stAddress2,stationName,statusKey,statusValue,testStation,totalDocks
0,,30,22,,72,,2019-02-25 09:46:13 PM,40.767272,,-73.993929,,W 52 St & 11 Ave,,W 52 St & 11 Ave,1,In Service,False,55
1,,24,9,,79,,2019-02-25 09:44:06 PM,40.719116,,-74.006667,,Franklin St & W Broadway,,Franklin St & W Broadway,1,In Service,False,33
2,,25,1,,82,,2019-02-25 09:45:48 PM,40.711174,,-74.000165,,St James Pl & Pearl St,,St James Pl & Pearl St,1,In Service,False,27
3,,27,35,,83,,2019-02-25 09:42:56 PM,40.683826,,-73.976323,,Atlantic Ave & Fort Greene Pl,,Atlantic Ave & Fort Greene Pl,1,In Service,False,62
4,,10,9,,119,,2019-02-25 09:43:57 PM,40.696089,,-73.978034,,Park Ave & St Edwards St,,Park Ave & St Edwards St,1,In Service,False,19
5,,15,4,,120,,2019-02-25 09:42:46 PM,40.686768,,-73.959282,,Lexington Ave & Classon Ave,,Lexington Ave & Classon Ave,1,In Service,False,19
6,,30,1,,127,,2019-02-25 09:42:36 PM,40.731724,,-74.006744,,Barrow St & Hudson St,,Barrow St & Hudson St,1,In Service,False,31
7,,25,2,,128,,2019-02-25 09:42:57 PM,40.727103,,-74.002971,,MacDougal St & Prince St,,MacDougal St & Prince St,1,In Service,False,30
8,,6,17,,143,,2019-02-25 09:42:50 PM,40.692395,,-73.993379,,Clinton St & Joralemon St,,Clinton St & Joralemon St,1,In Service,False,24
9,,12,5,,144,,2019-02-25 09:46:20 PM,40.698399,,-73.980689,,Nassau St & Navy St,,Nassau St & Navy St,1,In Service,False,19
10,,26,10,,146,,2019-02-25 09:44:27 PM,40.716250,,-74.009106,,Hudson St & Reade St,,Hudson St & Reade St,1,In Service,False,39
11,,31,21,,150,,2019-02-25 09:42:47 PM,40.720874,,-73.980858,,E 2 St & Avenue C,,E 2 St & Avenue C,1,In Service,False,54
12,,19,11,,151,,2019-02-25 09:46:12 PM,40.722104,,-73.997249,,Cleveland Pl & Spring St,,Cleveland Pl & Spring St,1,In Service,False,33
13,,20,1,,157,,2019-02-25 09:43:47 PM,40.690893,,-73.996123,,Henry St & Atlantic Ave,,Henry St & Atlantic Ave,1,In Service,False,23
14,,26,9,,161,,2019-02-25 09:43:39 PM,40.729170,,-73.998102,,LaGuardia Pl & W 3 St,,LaGuardia Pl & W 3 St,1,In Service,False,35
15,,0,47,,164,,2019-02-25 09:46:08 PM,40.753231,,-73.970325,,E 47 St & 2 Ave,,E 47 St & 2 Ave,1,In Service,False,47
16,,0,43,,167,,2019-02-25 09:43:56 PM,40.748901,,-73.976049,,E 39 St & 3 Ave,,E 39 St & 3 Ave,1,In Service,False,45
17,,2,44,,168,,2019-02-25 09:42:47 PM,40.739713,,-73.994564,,W 18 St & 6 Ave,,W 18 St & 6 Ave,1,In Service,False,47
18,,0,51,,173,,2019-02-25 09:44:05 PM,40.760683,,-73.984527,,Broadway & W 49 St,,Broadway & W 49 St,1,In Service,False,51
19,,7,22,,174,,2019-02-25 09:45:20 PM,40.738177,,-73.977387,,E 25 St & 1 Ave,,E 25 St & 1 Ave,1,In Service,False,30
20,,2,43,,195,,2019-02-25 09:43:52 PM,40.709056,,-74.010434,,Liberty St & Broadway,,Liberty St & Broadway,1,In Service,False,45
21,,12,13,,212,,2019-02-25 09:43:28 PM,40.743349,,-74.006818,,W 16 St & The High Line,,W 16 St & The High Line,1,In Service,False,28
22,,14,6,,216,,2019-02-25 09:44:58 PM,40.700379,,-73.995481,,Columbia Heights & Cranberry St,,Columbia Heights & Cranberry St,1,In Service,False,23
23,,15,23,,217,,2019-02-25 09:44:44 PM,40.702772,,-73.993836,,Old Fulton St,,Old Fulton St,1,In Service,False,39
24,,28,2,,223,,2019-02-25 09:44:02 PM,40.737815,,-73.999947,,W 13 St & 7 Ave,,W 13 St & 7 Ave,1,In Service,False,33
25,,17,13,,224,,2019-02-25 09:45:36 PM,40.711464,,-74.005524,,Spruce St & Nassau St,,Spruce St & Nassau St,1,In Service,False,31
26,,0,55,,228,,2019-02-25 09:43:27 PM,40.754601,,-73.971879,,E 48 St & 3 Ave,,E 48 St & 3 Ave,1,In Service,False,55
27,,17,4,,229,,2019-02-25 09:46:20 PM,40.727434,,-73.993790,,Great Jones St,,Great Jones St,1,In Service,False,23
28,,44,2,,236,,2019-02-25 09:45:03 PM,40.728419,,-73.987140,,St Marks Pl & 2 Ave,,St Marks Pl & 2 Ave,1,In Service,False,47
29,,32,5,,237,,2019-02-25 09:44:21 PM,40.730473,,-73.986724,,E 11 St & 2 Ave,,E 11 St & 2 Ave,1,In Service,False,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786,,0,3,,3689,,2019-02-25 09:45:48 PM,40.799041,,-73.966495,,W 104 St & Amsterdam Ave,,W 104 St & Amsterdam Ave,1,In Service,False,47
787,,26,10,,3690,,2019-02-25 09:44:00 PM,40.713342,,-74.009355,,Park Pl & Church St,,Park Pl & Church St,1,In Service,False,36
788,,2,17,,3691,,2019-02-25 09:43:37 PM,40.764089,,-73.910651,,28 Ave & 44 St,,28 Ave & 44 St,1,In Service,False,19
789,,4,11,,3692,,2019-02-25 09:46:06 PM,40.699997,,-73.974401,,5 St & Market St,,5 St & Market St,1,In Service,False,15
790,,21,5,,3693,,2019-02-25 09:44:13 PM,40.722482,,-73.959219,,N 11 St & Kent Ave,,N 11 St & Kent Ave,1,In Service,False,27
791,,6,12,,3694,,2019-02-25 09:43:52 PM,40.711130,,-74.078900,,Jackson Square,,Jackson Square,1,In Service,False,18
792,,29,12,,3697,,2019-02-25 09:43:17 PM,40.775160,,-73.989187,,W 64 St & Thelonious Monk Circle,,W 64 St & Thelonious Monk Circle,1,In Service,False,43
793,,7,22,,3699,,2019-02-25 09:44:30 PM,40.763605,,-73.989180,,W 50 St & 9 Ave,,W 50 St & 9 Ave,1,In Service,False,30
794,,25,11,,3701,,2019-02-25 09:45:04 PM,40.708318,,-74.005041,,Cliff St & Fulton St,,Cliff St & Fulton St,1,In Service,False,37
795,,19,0,,3704,,2019-02-25 09:46:07 PM,40.743752,,-73.941765,,47 Ave & Skillman Ave,,47 Ave & Skillman Ave,1,In Service,False,19
796,,15,39,,3707,,2019-02-25 09:44:13 PM,40.741459,,-73.983293,,Lexington Ave & E 26 St,,Lexington Ave & E 26 St,1,In Service,False,55
797,,18,9,,3708,,2019-02-25 09:46:13 PM,40.735445,,-73.994310,,W 13 St & 5 Ave,,W 13 St & 5 Ave,1,In Service,False,29
798,,38,11,,3709,,2019-02-25 09:45:09 PM,40.738046,,-73.996430,,W 15 St & 6 Ave,,W 15 St & 6 Ave,1,In Service,False,51
799,,40,5,,3711,,2019-02-25 09:44:43 PM,40.729667,,-73.980680,,E 13 St & Avenue A,,E 13 St & Avenue A,1,In Service,False,47
800,,7,34,,3712,,2019-02-25 09:43:59 PM,40.754692,,-73.997402,,W 35 St & Dyer Ave,,W 35 St & Dyer Ave,1,In Service,False,41
801,,3,58,,3714,,2019-02-25 09:46:11 PM,40.706842,,-73.954435,,Division Av & Hooper St,,Division Av & Hooper St,1,In Service,False,61
802,,13,17,,3715,,2019-02-25 09:44:36 PM,40.718170,,-73.955201,,Driggs Ave & N 9 St,,Driggs Ave & N 9 St,1,In Service,False,31
803,,1,22,,3716,,2019-02-25 09:42:31 PM,40.753599,,-73.937956,,40 Ave & Crescent St,,40 Ave & Crescent St,1,In Service,False,23
804,,45,0,,3718,,2019-02-25 09:43:05 PM,40.727464,,-73.979504,,E 11 St & Avenue B,,E 11 St & Avenue B,1,In Service,False,46
805,,23,0,,3720,,2019-02-25 09:45:34 PM,40.684617,,-73.987213,,Wyckoff St & Bond St,,Wyckoff St & Bond St,1,In Service,False,23
806,,0,18,,3721,,2019-02-25 09:44:04 PM,40.767549,,-73.920933,,31 St & Newtown Ave,,31 St & Newtown Ave,1,In Service,False,35
807,,11,19,,3723,,2019-02-25 09:44:03 PM,40.695317,,-73.990157,,Cadman Plaza E & Johnson St,,Cadman Plaza E & Johnson St,1,In Service,False,30
808,,3,36,,3724,,2019-02-25 09:42:22 PM,40.766741,,-73.979069,,7 Ave & Central Park South,,7 Ave & Central Park South,1,In Service,False,39
809,,3,36,,3725,,2019-02-25 09:45:33 PM,40.768762,,-73.958408,,2 Ave & E 72 St,,2 Ave & E 72 St,1,In Service,False,41
810,,2,18,,3726,,2019-02-25 09:44:58 PM,40.743366,,-73.959607,,Center Blvd & 51 Ave,,Center Blvd & 51 Ave,1,In Service,False,20
811,,7,30,,3727,,2019-02-25 09:45:06 PM,40.717662,,-73.948800,,Frost St & Meeker Ave,,Frost St & Meeker Ave,1,In Service,False,38
812,,5,19,,3728,,2019-02-25 09:45:36 PM,40.695357,,-73.993440,,Pierrepont St & Monroe Pl,,Pierrepont St & Monroe Pl,1,In Service,False,24
813,,12,34,,3733,,2019-02-25 09:42:49 PM,40.730563,,-73.973984,,Avenue C & E 18 St,,Avenue C & E 18 St,1,In Service,False,46
814,,28,7,,3737,,2019-02-25 09:45:02 PM,40.720747,,-73.986274,,Stanton St & Norfolk St,,Stanton St & Norfolk St,1,In Service,False,35
815,,4,21,,3745,,2019-02-25 09:43:30 PM,40.756513,,-73.929575,,36 Ave & 31 St,,36 Ave & 31 St,1,In Service,False,27

In [5]:
# there is one row for each bike station.  How many stations are there? 
len(df)

816

In [6]:
# in the file above, there are lon-lats, but no geometry field
# we need to set that up

s = gp.GeoSeries([Point(x, y) for x, y in zip(df['longitude'], df['latitude'])])
df['geometry'] = s
df.crs = {'init': 'epsg:4326', 'no_defs': True}
df.geometry.total_bounds
df.crs

{'init': 'epsg:4326', 'no_defs': True}

In [7]:
# make sure they are on the same CRS.  
# checking the bounds is a nice way of seeing this
df.to_crs(boros.crs, inplace=True)
df.geometry.total_bounds

RuntimeError: b'no arguments in initialization list'

In [8]:
# the geometry objects can do lots of cool stuff.  For example: 

manhattan = boros.geometry[3]
in_mn = df.geometry.within(manhattan)
print(sum(in_mn), 'stations in Manhattan')

0 stations in Manhattan

# Your turn

You can read about the range of operations available in geopandas here: 
    
http://geopandas.org/index.html

Your assignment is to: 

1. Calculate how many stations are in each borough
2. Calculate how many bikes are currently available in each borough
3. Read about and try at least two new spatial or geometric operations (beyond what I've covered here).

### 1. Calculate how many stations are in each borough

In [9]:
# join the citibike data with boros using the within operation
citibikes_boros = gp.sjoin(df, boros, how="left", op='within')

C:\ProgramData\Anaconda3\lib\site-packages\geopandas\tools\sjoin.py:44: UserWarning: CRS of frames being joined does not match!
  warn('CRS of frames being joined does not match!')

In [10]:
#Note, 50 stations are not within any boro
sum(citibikes_boros.BoroName.isna())

816

In [11]:
c = citibikes_boros.BoroName.value_counts().to_frame(name='stations')
# Add boros with 0 stations
pd.merge(boros[['BoroName']],c, how='left', right_index=True, left_on= 'BoroName').fillna(0)

        BoroName  stations
0  Staten Island       0.0
1       Brooklyn       0.0
2         Queens       0.0
3      Manhattan       0.0
4          Bronx       0.0

### 2. Calculate how many bikes are currently available in each borough

In [52]:
# get sum of bikes
bikes = citibikes_boros.groupby('BoroName')['availableBikes'].sum()
bikes

Series([], Name: availableBikes, dtype: int64)

In [53]:
# Add boros with 0 bikes
bikes = bikes.to_frame(name='bikes')
pd.merge(boros[['BoroName']],bikes, right_index=True, left_on= 'BoroName', how='left').fillna(0)

        BoroName  bikes
0  Staten Island    0.0
1       Brooklyn    0.0
2         Queens    0.0
3      Manhattan    0.0
4          Bronx    0.0

### 3. Read about and try at least two new spatial or geometric operations (beyond what I've covered here).

1. sjoin() - Used in exercise one
2. dissolve(): It dissolves all the geometries within a given group together into a single geometric feature
3. touches(): It checks if two objects has at least one point in common and the interior of one does not intersect with any part of the other.

In [54]:
try_touches = boros.BoroName.to_frame()
for index, row in boros.iterrows():
    try_touches[row.BoroName] = boros.geometry.touches(row.geometry)
    
try_touches

        BoroName  Staten Island  Brooklyn  Queens  Manhattan  Bronx
0  Staten Island          False     False   False      False  False
1       Brooklyn          False     False    True       True  False
2         Queens          False      True   False       True   True
3      Manhattan          False      True    True      False   True
4          Bronx          False     False    True       True  False